{%extends "base.html"%}
{%block title%}Wydatki{%endblock%}
{%block content%}
	<div id='title'>Finanse</div>
	<main>
		<center>
			<form method="POST" action="/createCategory">
				<input type="text" name='category' placeholder="Name of the new category">
				<input type='submit' value="Create new category">
			</form>

		</center>
		<form method="POST" action=# enctype=multipart/form-data>
			<table>
				<tr>
					<th>Kategoria</th>
					<th>Nazwa</th>
					<th style="margin-right:0; padding:0; width: 0px;"></th>
					<th style="margin-left: 0; width: 182px; padding-left: 65px; text-align: left;  margin-right: 20px;">Cena</th>
					<th style="width:50px; padding-right: 65px;">Zdjęcie</th>
				</tr>
				<tr>
					<th><select name='category'>
						{%for cat in category%}
							<option value={{cat.category_name}}>{{cat.category_name}}</option>
						{%endfor%}	
					</select></th>
					<th><input type="text" name="name" required="true"></th>
					<th style="margin-right:0; padding-right:0; width: 38px;"><select name="value" >
						<option value="+">+</option>
						<option value="-">-</option>
						</select></th>
					<th style="margin-left: 0; width: 182px; padding: 0;  margin-right: 20px;"><input step="0.01" type='number' name='price' required='true'></th>
					<th style="width:50px; margin-right: 20px;"><input  type='file' name='img'></th>
				</tr>
			</table></br>
			<input type='submit'>
		</form>
		</br></br>
		<table>
			<tr id="tr">
				<th>Kategoria</th>
				<th>Nazwa</th>
				<th>Cena</th>
				<th>Zdjęcie</th>
			</tr>
				{% for exp in expenses %}
				<tr>
					<th>{%for cat in category%}
							{%if cat._id == exp.category_id%}
								{{cat.category_name}}
							{%endif%}
						{%endfor%}</th>
					<th>{{exp.name}}</th>
					<th>{{exp.char+exp.price|string()+" zł"}}</th>
					<th>
						{%if exp.path_to_img != ""%}
						<a href={{url_for('static',filename=path+exp.path_to_img)}}><img src={{url_for('static',filename=path+exp.path_to_img)}}></a></th>
						{%else%}
						<div style="width: width:260px;	height:150px;"></div>
						{%endif%}
				</tr></br>
				<tr>
					<th></th><th><form method=post action="/deleteRecord">
					<input type='hidden' value={{exp._id}} name="id">
					<input type='submit' style="margin-left: 200px;" value='Usuń'>
						</form></th>
				</tr>
			{%endfor%}
		</table>
		<div style="font-size: 28px; padding: 30px;">
			{%for x in all_spendings%}
				Łączna suma w kategorii {{x}} wynosi {{all_spendings[x]}}zł<br>
			{%endfor%}

		</div>
	</main>
{%endblock%}
