{%extends "base.html"%}
{%block title%}Wydatki{%endblock%}
{%block content%}
	<div id='title'>Wydatki</div>
	<main>
		<form method="POST" action=# enctype=multipart/form-data>
			<table>
				<tr>
					<th>Nazwa</th>
					<th>Cena</th>
					<th style="width:50px;">Zdjęcie</th>
				</tr>
				<tr>
					<th><input type="text" name="name" required='true'></th>
					<th><input step="0.01" type='number' name='price' required='true'></th>
					<th style="width:50px;"><input  type='file' name='img'></th>
				</tr>
			</table></br>
			<input type='submit'>
		</form>
		</br></br>
		<table>
			<tr id="tr">
				<th>Nazwa</th>
				<th>Cena</th>
				<th>Zdjęcie</th>
			</tr>
			{% for exp in expenses %}
			<tr>
				<th>{{exp.name}}</th>
				<th>{{exp.price|string()+" zł"}}</th>
				<th><a href={{url_for('static',filename=path+exp.path_to_img)}}><img src={{url_for('static',filename=path+exp.path_to_img)}}></a></th>
			</tr><br>
			<tr>
				<th></th><th><form method=post action="/deleteRecord">
				<input type='hidden' value={{exp._id}} name="id">
				<input type='submit' value='Usuń'>
					</form></th>
			</tr>
			{% endfor%}
		</table>
		<div style="font-size: 28px; padding: 30px;"  >Suma wydatków: {{all_spendings}} zł</div>
	</main>
{%endblock%}
